.contenedor-panel{
    position: absolute; 
    height: 100vh;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.557);
    z-index: 3;
}

.contenedor-titulo{
    margin-top: 40px;
    font-size: 1rem;
}

.contenedor-span{
    font-size: 0.8rem;
    font-weight: lighter;
}

.subcontenedor-btn{
    display: flex;
    justify-content: right;
   
}

.btn-cerrar{
    width: 40px;
    height: 25px;
    padding: 5px;
    border: none;
    background-color: red;
    text-align: center;
    color: white;
    border-radius: 50px;
}

.contenedor-textarea{
    width: 100%;
    height:20vh;
}

.btn-grupo{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
}

.btn-cancelar{
    padding: 6px;
    background-color: rgb(193, 189, 189);
    border: none;
    border-radius: 4px
}

.btn-guardar{
    padding: 6px;
    background-color: rgb(87, 161, 244);
    border: none;
    border-radius: 4px
}

